<section class="relative h-[650px] mb-24 flex items-center overflow-hidden">
  <div class="absolute inset-0 bg-primary">
    <img alt="Global Reach" class="w-full h-full object-cover opacity-20 grayscale" src="https://lh3.googleusercontent.com/aida-public/AB6AXuA8YwL6xbii4AKhKTVEGmkmGYCogBeYhm9OKn5GcAU3oQH1blyY9XU6wG6mtYLi7pzCSk3Bow0iepUwNPN9LkjEtop4kIRECfDDEFFGfk2xkwzJ3zSCPNGV8ZXqQsXOeu2UpT4NthI0BMpbi-UzmvNdoWzTN0sHOMvSqRsLXZkr-TG9VhoZHmpWuEQxCbZRjxI9aLORqJY1SS8WTl6ftaSrWrK4_emymNe1yqqFhsO90GuthBjZ9E_23QTULX-mmDZg8aKkWff_Tmk">
  </div>
  <div class="max-w-7xl mx-auto px-8 relative z-10 text-center md:text-left">
    <h2 class="text-white text-5xl md:text-7xl font-bold mb-12 max-w-4xl leading-tight">
      Build for <span class="italic text-brand-gold">boundless</span> <span class="text-brand-green">success</span> today
    </h2>
    <button class="bg-brand-gold text-primary px-12 py-5 rounded font-bold text-xl hover:scale-105 transition-transform shadow-2xl">
      Start Your Project
    </button>
  </div>
</section>
